/* @import url('./style/home.css'); */

/* form{
    display: flex;
    flex-direction: column;
}

.email-box{
    display: flex;
    flex-direction: column;
}

.password-box{
    display: flex;
    flex-direction: column;
}

.name-box{
  display: flex;
  flex-direction: column;  
} */